[project]
	description = fork of the shared Nagios puppet module from labs.riseup
[access "refs/*"]
	owner = group user/agmance (agmance)
[access "refs/for/refs/*"]
	read = group user/agmance (agmance)
	push = group user/agmance (agmance)
	label-Code-Review = -2..+2 group user/agmance (agmance)
	label-Verified = -1..+1 group user/agmance (agmance)
	rebase = group user/agmance (agmance)
	removeReviewer = group user/agmance (agmance)
	submit = group user/agmance (agmance)
[access "refs/heads/*"]
	read = group user/agmance (agmance)
	create = group user/agmance (agmance)
	push = +force group user/agmance (agmance)
	pushMerge = group user/agmance (agmance)
[access "refs/tags/*"]
	push = +force group user/agmance (agmance)
	pushTag = group user/agmance (agmance)
	pushSignedTag = group user/agmance (agmance)
